$bg: var(--bg);
$fg: var(--fg);
$component_bg: var(--component-bg);
$component_fg: var(--component-fg);
$border: var(--border);
$text_fg: var(--text-fg);
$primary: var(--primary);
$secondary: var(--secondary);
$primary_highlight: var(--primary-highlight);
$secondary_highlight: var(--secondary-highlight);
$success: var(--succcess);
$error: var(--error);

$radius: var(--radius);
$radius_med: var(--radius1);
$round_radius: var(--round-radius);
$padding: var(--padding);
$text_size: var(--text-size);
$heading: var(--heading);
$sub_heading: var(--sub-heading);
$title: var(--title);
$sub_title: var(--sub-title);
$slow_trans: var(--slow-trans);
$trans: var(--trans);
$delay: var(--delay);
$ong_delay: var(--long-delay);
$hue: 220; //var(--primary-hue);
