body {
  --bg: rgba(25, 30, 50, 0.6);
  --fg: rgba(150, 150, 150, 0.3);
  --component-bg: hsla(216, 18%, 45%, 0.6);
  --component-fg: hsla(215, 30%, 15%, 0.6);
  --border: rgba(153, 153, 153, 0.6);
  --text-fg: rgba(222, 222, 222, 1);
  --primary-hue: 220;
  --primary: hsla(220, 100%, 50%, 1);
  --primary-highlight: hsla(220, 100%, 70%, 1);

  --secondary: rgba(0, 216, 255, 1);
  --secondary-highlight: rgba(101, 232, 255, 1);
  --succcess: hsla(145, 60%, 50%, 1);
  --focus: hsl(225, 100%, 60%);
  --error: hsla(340, 61%, 50%, 1);
  --radius1: 5px;
  --radius: 3px;
  --round-radius: 50em;
  --padding: 8px;
  --text-size: 14px;
  --heading: 30px;
  --sub-heading: 26px;
  --title: 24px;
  --sub-title: 18px;
  --slow-trans: all 1s;
  --trans: all 0.4s;
  --delay: 1s;
  --long-delay: 1.8s;
  --bg-rotate: 0deg;
  background: rgb(32, 37, 43);
  color: var(--text-fg);
}
@import "style/vars";
* {
  box-sizing: border-box;
}
body,
#root,
.App {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}
#root {
  box-shadow: 1px 1px #fff;
}
body {
  box-shadow: 1px 1px #0f0 inset;
  height: 100vh;
}

nav {
  & > a,
  & > a:link,
  & > a:visited,
  & > a:active {
    text-decoration: none;
    padding: 0 8px;
    background: #555;
    transition: all 0.4s ease-in-out;
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 35px;
    font-size: 14px;
    line-height: 2em;
    border: 1px solid #333333;
    &:hover {
      transition: all 0.4s ease-in-out;
      border: 1px solid #36f;
      background: $primary;
    }
  }
}
.fdf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.App {
  * {
    background: rgba(20, 23, 27, 0);
    color: $text_fg;
  }

  .fluid {
    width: 100%;
  }
  .panel {
  }
  .app-bar {
  }
}
